

.nav-pills li a:hover{
    background-color: blue;
}
h1{
    text-align: center;
    color: black;
}
p{
    text-align: center;
    color: black;
}

.main-content {
    position: relative;
    background-color: #eee;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}

.select-container{
    display: flex;
    gap: 10px;
}

.custom-select{
    width: 300px;
}

.card {
    border: 3px solid blue;
}

hr{
    color: blue;
}