{% extends "layout.html" %}
{% block content %}

<section class="bg-white text-dark pt-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>Overview of <span  class="text-primary">Courses</span></h1>
                <p class="lead my-3"> 
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero, molestias voluptate? Aperiam non alias quod suscipit, pariatur earum itaque architecto.                
                </p>
            </div>    
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row" >
            <div class="col-12">
                    <div id='chart' class='chart m-4 mx-auto' >
                    </div>
                    
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 ">
                                <!--div class="container m-5 border p-3"-->
                                        <div id='chart' class='chart' style='max-height: 500px;'>
                                            {{ fig_density_html | safe}};</div>
                                    </div>
                                </div>
                            </div>
            </div>
            <div class="col-12">
                <form method="POST">
                    <fieldset class="m-3">
                        <div class="m-3">
                            <label for="top_freq" class="form-label">Select Top k Clusters: </label>
                            <input type="number" id="top_freq" name="top_freq" value="{{ top_freq }}">
                        </div>
                        <legend>Choose the Specialisation:</legend>
                        <div class="form-check">
                            <input class="form-check-input" name="specialisation" type="checkbox"  id="flexCheckDefault" value="AI" {% if 'AI' in checked_specialisations %}checked{% endif %} >
                            <label class="form-check-label" for="flexCheckDefault">
                                Artificial Intelligence
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="specialisation" type="checkbox"  id="flexCheckChecked1" value="DS" {% if 'DS' in checked_specialisations %}checked{% endif %} >
                            <label class="form-check-label" for="flexCheckChecked1">
                                Data Science
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="specialisation" type="checkbox"  id="flexCheckChecked2" value="AD" {% if 'DA' in checked_specialisations %}checked{% endif %} >
                            <label class="form-check-label" for="flexCheckChecked2">
                                Data Analytics
                            </label>
                        </div>
                         <div class="form-check">
                            <input class="form-check-input" name="specialisation" type="checkbox"  id="flexCheckChecked3" value="ML" {% if 'ML' in checked_specialisations %}checked{% endif %} >
                            <label class="form-check-label" for="flexCheckChecked3">
                                Machine Learning
                            </label>
                        </div>
                         <div class="form-check">
                            <input class="form-check-input" name="specialisation" type="checkbox"  id="flexCheckChecked4" value="other" {% if 'other' in checked_specialisations %}checked{% endif %} >
                            <label class="form-check-label" for="flexCheckChecked4">
                                Other
                            </label>
                        </div>
                    </fieldset>
                    <div class="m-3">
                        <label for="min_credits" class="form-label">Select Min. ECTS: </label>
                        <input type="number" id="min_credits" name="min_credits" value="{{ min_credits }}">
                    </div>
                    <div class="m-3">
                        <label for="max_credits" class="form-label">Select Max. ECTS: </label>
                        <input type="number" id="max_credits" name="max_credits" value="{{ max_credits }}">
                    </div>
                    <fieldset class="m-3">
                        <legend>Choose the type of Clusters to see in the Chart: </legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="lecture_type" id="show_all" value="all" {% if lecture_type == 'all' %}checked{% endif %}>
                                <label class="form-check-label" for="show_all">
                                    Obligatory & Elective
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="lecture_type" id="show_obligatory" value="Obligatory" {% if lecture_type == 'Obligatory' %}checked{% endif %}>
                                <label class="form-check-label" for="show_obligatory">
                                    Obligatory
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="lecture_type" id="show_elective" value="Elective" {% if lecture_type == 'Elective' %}checked{% endif %} >
                                <label class="form-check-label" for="show_elective">
                                        Elective
                                </label>
                            </div>
                    </fieldset>
                    <button class="btn btn-primary m-3" type="submit">Update plot</button>

                </form>
            </div>
        </div>
    </div>
</section>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var graph = {{ fig_json | safe}};
        Plotly.plot("chart", graph, {});
    </script>
{% endblock content %}