{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid" style='max-width: 100%;'>
        <div class="col-12 col-sm-8 col-md-8 col-lg-9">
            <div class="row" >
                <div class="col-12">
                    <!--div class="container m-5 mx-auto" style="max-width: 100%;"-->
                        <div id='chart' class='chart m-5 mx-auto' style='max-height: 500px; max-width: 100%;' >
                        </div>
                    <!--/div-->
                </div>
                <div class="col-12 col-lg-6">
                    <form method="POST">
                        <div class="m-3">
                            <label for="min_credits" class="form-label">Select Min. ECTS: </label>
                            <input type="number" id="min_credits" name="min_credits" value="{{ min_credits }}">
                        </div>
                        <div class="m-3">
                            <label for="max_credits" class="form-label">Select Max. ECTS: </label>
                            <input type="number" id="max_credits" name="max_credits" value="{{ max_credits }}">
                        </div>
                        <fieldset class="m-3">
                            <legend>Choose the type of Clusters to see in the Chart: </legend>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="lecture_type" id="show_all" value="all" {% if lecture_type == 'all' %}checked{% endif %}>
                                    <label class="form-check-label" for="show_all">
                                        Obligatory & Elective
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="lecture_type" id="show_obligatory" value="Obligatory" {% if lecture_type == 'Obligatory' %}checked{% endif %}>
                                    <label class="form-check-label" for="show_obligatory">
                                        Obligatory
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="lecture_type" id="show_elective" value="Elective" {% if lecture_type == 'Elective' %}checked{% endif %} >
                                    <label class="form-check-label" for="show_elective">
                                            Elective
                                    </label>
                                </div>
                        </fieldset>

                        <fieldset>
                                <legend>Specialisation</legend>
                                <input type="checkbox" name="specialisation" value="AI" {% if 'AI' in checked_specialisations %}checked{% endif %} >Artificial Intelligence<br>
                                <input type="checkbox" name="specialisation" value="DS" {% if 'DS' in checked_specialisations %}checked{% endif %} >Data Science<br>
                                <input type="checkbox" name="specialisation" value="DA" {% if 'DA' in checked_specialisations %}checked{% endif %} >Data Analytics<br>
                                <input type="checkbox" name="specialisation" value="ML" {% if 'ML' in checked_specialisations %}checked{% endif %} >Machine Learning<br>
                                <input type="checkbox" name="specialisation" value="other" {% if 'other' in checked_specialisations %}checked{% endif %} >Other<br>
                        </fieldset>
                        <!--input class="btn btn-primary m-3" value="Update plot"-->
                        <button class="btn btn-primary m-3" type="submit">Update plot</button>

                    </form>
                </div>
        </div>
    </div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var graph = {{ fig_json | safe}};
        Plotly.plot("chart", graph, {});
    </script>
{% endblock content %}