{% extends "layout.html" %}
{% block content %}

    <!--Showcase-->
    <section class="bg-white text-dark pt-1 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container">
            <h1>Make a perfect <span class="text-primary">Master Data Science</span> Course</h1>

            <div style="text-align: center">
                <div>
                    <p class="lead"> 
                        The MEOW (Master Exploration and Overview Webapp) project is developed by The Data Connoisseurs
                        at the University of Duisburg-Essen to explore Masters degrees in Germany on a course level.
                        Our database currently includes degree programs in Data Science, Artifical Intelligence and Machine
                        Learning with courses from each program provided from top universities in Germany.
                    </p>
                </div>    
                <img class="img-fluid d-none d-sm-block" style="width: 15%; height: auto;" src="{{ url_for('static', filename='images/logo.svg') }}" alt="Our logo">
            </div>
        </div>
    </section>

    <!-- Boxes -->
 <section class="p-1">
    <div class="container">
        <div class="row text-center g-4">
            <div class="col-md">
                        <button class="btn btn-primary btn-lg">
                            <a href="{{url_for('second_page')}}">
                                <span class="text-white">Explore the Database</span>
                            </a>
                        </button>
            </div>
            <div class="col-md">
                        <button class="btn btn-primary btn-lg">
                            <a href="{{url_for('course_clustering')}}">
                                <span class="text-white">Explore the Courses</span>
                            </a>
                        </button>
            </div>
        </div>
    </div>
</section>

 <!-- Boxes -->
 <section class="pt-5">
    <div class="container">
        <div class="row text-center g-4 align-items-stretch">
            <div class="col-md">
                <div class="card text-white h-100">
                    <div id="box_1" class="card-body text-center">
                        <div class="h1 mb-3">
                            <i class="bi bi-file-text"></i>
                        </div>
                        <h3 class="card-title mb-3">
                            Total number of degrees
                        </h3>
                        <p class="card-text text-white">
                            {{cdn}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div id="box_1" class="card text-white h-100">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <i class="bi bi-building"></i>
                        </div>
                        <h3 class="card-title mb-3">
                            Total number of Institutes in our Data
                        </h3>
                        <p class="card-text text-white">
                            {{cuft}}
                        </p>
                        <p class="card-text text-white">
                                {{uni_amount}} Universitäten
                        </p>
                        <p class="card-text text-white">
                                {{hochschule_amount}} Fachhochschulen
                        </p>
                        <p class="card-text text-white">
                                {{tu_amount}} technische Universitäten
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card text-white h-100">
                    <div id="box_1" class="card-body text-center">
                        <div class="h1 mb-3">
                            <i class="bi bi-list-task"></i>
                        </div>
                        <h3 class="card-title mb-3">
                            Total number of Courses
                        </h3>
                        <p class="card-text text-white">
                            {{ccn}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}