{% extends "layout.html" %}
{% block content %}

<section class="bg-white text-dark pt-1 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>Overview of Types of <span  class="text-warning"> Institutes </span></h1>
                <p class="lead my-4"> 
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa veritatis iusto perferendis quos officiis. Accusantium mollitia illo molestiae dolor ab.
                </p>
            </div>    
        </div>
    </div>
</section>

<section class="bg-white text-dark pt-1 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div class="row text-center g-4">
                <div class="col-md ">
                    <!--div class="container m-5 border p-3"-->
                    <div class="container m-1 mx-auto" >
                        <div id='chart' class='chart' ></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
         var graph = {{ fig_json | safe}};
        Plotly.plot("chart", graph, {});
    </script>
{% endblock content %}