{% extends "layout.html" %}
{% block content %}

<section class="bg-white text-dark pt-1 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div style="text-align: center">
            <div>
                <h1>Overview of Types of <span  class="text-primary"> Institutes </span></h1>
                <p class="lead my-4"> 
                    In this page, a bar graph is used to visualise the types of institues currently stored
                    in the database.
                </p>
            </div>    
        </div>
    </div>
</section>

<section class="bg-white text-dark pt-1 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container-fluid">
        <div style="text-align: center">
            <div class="row text-center g-4">
                <div class="col-md ">
                    <div class="container m-1 mx-auto" id="ChartDiv">
                        <div id='chart' class='chart' style="min-width: 1200px; width: auto;" ></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
         var graph = {{ fig_json | safe}};
        Plotly.plot("chart", graph, {});
    </script>

    <script>
      window.addEventListener("resize", function() {
        var container_width = document.getElementById("ChartDiv").offsetWidth;
        var container_height = document.getElementById("ChartDiv").offsetHeight;

        if (container_width < 300) {
            container_width = 300;
        }

        if (container_height < 100) {
            container_height = 100;
        }

        Plotly.relayout("chart", {
          width: container_width,
          height: container_height
        });

      });
    </script>
{% endblock content %}