{% extends "layout.html" %}
{% block content %}

<section class="bg-white text-dark pt-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div style="text-align: center">
            <div>
                <h1>Overview of Types of <span  class="text-primary"> Courses</span> in Institutes</h1>
                <p class="lead my-4"> 
                    In this page, a bar graph is used to visualise the types of courses in our database.
                </p>
            </div>    
        </div>
    </div>
</section>
<section class="bg-white text-dark pt-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 ">
                <!--div class="container m-5 border p-3"-->
                <div class="container m-1 mx-auto">
                    <div id='chart' class='chart' style="min-width:fit-content; min-height: 600px;"></div>
                </div>
            </div>
        </div>
    </div>
</section>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
         var graph = {{ fig_json | safe}};
        Plotly.plot("chart", graph, {});
    </script>
{% endblock content %}