{% extends "layout.html" %}
{% block content %}
<section class="bg-white text-dark pt-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>Explore the <span  class="text-primary">DataBase</span></h1>
                <p class="lead my-3">
                    In this page, the database can be simply explored through the provided filters to provide a general overview about stored courses,
                    degree programs and institutes.
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="col-lg-6">
            <form id="searchForm" name="search">
                <div class="select-container m-3">
                    <div class="form-floating">
                        <select class="form-select custom-select" id="degreeSelect"
                            aria-label="Floating label select example" onchange="showListItems(this)">
                            {%for choice in degree_choices %}
                                <option>{{choice}}</option>
                            {% endfor %}
                        </select>
                        <label for="degreeSelect">Select one of the Master Programs</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6 m-3">
            <ul class="list-group" id="listGroup">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>
        </div>
    </div>
</section>
<script>
       function showListItems(selectElement) {
        var listGroup = document.getElementById('listGroup');
        if (selectElement.value !== '') {
            listGroup.style.display = 'block';
        } else {
            listGroup.style.display = 'none';
        }
    }
</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!--script>
        $(".sidebar ul li").on('click', function () {
            $(".sidebar ul li.active").removeClass('active');
            $(this).addClass("active");
        });
    </script-->
   <script>
    document.getElementById('degreeSelect').addEventListener('change', function () {
        var selectedValue = this.value;
        fetch('/search-update_selected_degree', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ selectedValue: selectedValue })
        })
        .then(response => response.json())
        .then(data => {
            updateListItems(data); // Call a function to update the list items
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });

    function updateListItems(data) {
        var listGroup = document.getElementById('listGroup');
        // Assuming data is an array of strings, update list items accordingly
        listGroup.innerHTML = ''; // Clear existing list items
        data.forEach(function(item) {
            var listItem = document.createElement('li');
            listItem.className = 'list-group-item';
            listItem.textContent = item;
            listGroup.appendChild(listItem);
        });
    }
</script>


{% endblock content %}