{% extends "layout.html" %}
{% block content %}
    <div class="col-12 col-sm-8 col-md-8 col-lg-9">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <!--div class="container m-5 border p-3"-->
                    <div class="container m-5">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                AI programms
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                DS programms
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                id="flexRadioDefault3" checked>
                            <label class="form-check-label" for="flexRadioDefault3">
                                ML programms
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                id="flexRadioDefault4" checked>

                            <label class="form-check-label" for="flexRadioDefault4">
                                AI and DS programms
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                id="flexRadioDefault5" checked>
                            <label class="form-check-label" for="flexRadioDefault5">

                                ML and DS programms
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                id="flexRadioDefault6" checked>
                            <label class="form-check-label" for="flexRadioDefault6">
                                AI and ML programms
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <form id="searchForm" name="search">
                    <div class="select-container m-3">
                        <div class="form-floating">
                            <select class="form-select custom-select" id="floatingSelect"
                                aria-label="Floating label select example">
                                {%for degree in degree_Name%}
                                <option>{{degree}}</option>
                                {% endfor %}
                            </select>
                            <label for="floatingSelect">Select one of the Master Programs</label>
                        </div>
                        <div class="form-floating">
                            <select class="form-select custom-select" id="floatingSelect2"
                                aria-label="Floating label select example">
                                {%for uin in uft%}
                                <option>{{uin}}</option>
                                {% endfor %}
                            </select>
                            <label for="floatingSelect">Select one of the Institutes</label>
                        </div>
                    </div>
                </form>
                <div class="container">
                    <ul class="list-group">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>-->
    <!--script>
        $(".sidebar ul li").on('click', function () {
            $(".sidebar ul li.active").removeClass('active');
            $(this).addClass("active");
        });
    </script-->
    <!--script>
        document.getElementById('floatingSelect').addEventListener('change', function () {
            var selectedValue = this.value;
            fetch('/search',{
                method: 'POST',
                headers:{
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ selectedValue: selectedValue })
            })
            .then(response => response.json())
            .then(data =>{
                    console.log(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
        document.getElementById('floatingSelect2').addEventListener('change', function () {
            var selectedValue = this.value;
            fetch('/earch', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ selectedValue: selectedValue })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script-->

{% endblock content %}